<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input name="post-title" type="text" value="{{post.title}}" class="form-input" />

        <label class="form-label" for="post-body">Body</label>
        <input name="post-body" type="text" value="{{post.body}}" class="form-input" />

        <button type="submit" class="btn btn-primary update-post-btn">Update Post</button>
        <a href="/delete-post/{{post.id}}" class="btn btn-danger delete-post-btn">Delete Post</a>
    </form>
</div>

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
