# Dependency directories
node_modules/

# Environment variables file
.env

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Log files
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

